# Titanic

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [5]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [6]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [7]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [8]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [9]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(10)

   Pclass        Age     Fare  female
0       3  22.000000   7.2500   False
1       1  38.000000  71.2833    True
2       3  26.000000   7.9250    True
3       1  35.000000  53.1000    True
4       3  35.000000   8.0500   False
5       3  29.699118   8.4583   False
6       1  54.000000  51.8625   False
7       3   2.000000  21.0750   False
8       3  27.000000  11.1333    True
9       2  14.000000  30.0708    True

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [11]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [12]:
model.fit(X_train,y_train)

GaussianNB()

In [13]:
model.score(X_test,y_test)

0.7835820895522388

In [15]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [16]:
model.fit(X_train,y_train)

MultinomialNB()

In [17]:
model.score(X_test,y_test)

0.6902985074626866

In [20]:
model.predict(X_test)

array([1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=int64)

In [19]:
model.predict_proba(X_test)

array([[1.52172372e-03, 9.98478276e-01],
       [9.65883687e-01, 3.41163132e-02],
       [3.09309500e-05, 9.99969069e-01],
       [9.99988150e-01, 1.18496582e-05],
       [9.99950525e-01, 4.94748908e-05],
       [9.99546671e-01, 4.53329029e-04],
       [9.99999016e-01, 9.83558519e-07],
       [9.99996496e-01, 3.50371953e-06],
       [9.98301612e-01, 1.69838842e-03],
       [9.99996011e-01, 3.98876108e-06],
       [9.99996515e-01, 3.48484237e-06],
       [7.17522419e-07, 9.99999282e-01],
       [9.99596371e-01, 4.03629465e-04],
       [9.99990395e-01, 9.60481903e-06],
       [9.99994942e-01, 5.05830721e-06],
       [9.98743815e-01, 1.25618511e-03],
       [9.99997202e-01, 2.79754700e-06],
       [9.99807113e-01, 1.92886566e-04],
       [9.99989241e-01, 1.07586796e-05],
       [9.99998157e-01, 1.84261777e-06],
       [9.99988559e-01, 1.14406118e-05],
       [9.99812925e-01, 1.87074936e-04],
       [9.65244517e-15, 1.00000000e+00],
       [7.34765929e-02, 9.26523407e-01],
       [9.99992454e-01, 7.54569450e-06],
       [6.08255426e-01, 3.91744574e-01],
       [9.99999354e-01, 6.45744099e-07],
       [4.79074012e-19, 1.00000000e+00],
       [9.99947544e-01, 5.24562196e-05],
       [9.97881565e-01, 2.11843538e-03],
       [9.99955636e-01, 4.43644169e-05],
       [9.99999761e-01, 2.39281070e-07],
       [9.57121714e-01, 4.28782858e-02],
       [9.99945972e-01, 5.40283123e-05],
       [9.99998665e-01, 1.33541341e-06],
       [9.98640635e-01, 1.35936529e-03],
       [9.99161804e-01, 8.38195783e-04],
       [4.50914838e-12, 1.00000000e+00],
       [9.99981141e-01, 1.88586124e-05],
       [9.99999637e-01, 3.63119998e-07],
       [9.99968221e-01, 3.17792810e-05],
       [6.66239974e-03, 9.93337600e-01],
       [9.99448737e-01, 5.51262730e-04],
       [9.99996496e-01, 3.50371953e-06],
       [9.54822229e-01, 4.51777710e-02],
       [9.99964553e-01, 3.54467851e-05],
       [9.99998835e-01, 1.16450484e-06],
       [2.02289523e-04, 9.99797710e-01],
       [9.99210172e-01, 7.89828278e-04],
       [9.98243449e-01, 1.75655109e-03],
       [9.99616886e-01, 3.83113583e-04],
       [9.99996011e-01, 3.98876108e-06],
       [9.99990550e-01, 9.45040979e-06],
       [3.63620570e-11, 1.00000000e+00],
       [9.99689774e-01, 3.10225699e-04],
       [7.59921214e-02, 9.24007879e-01],
       [5.87954394e-08, 9.99999941e-01],
       [9.99192840e-01, 8.07160339e-04],
       [9.99999998e-01, 2.41129151e-09],
       [9.96777856e-01, 3.22214350e-03],
       [1.33236767e-07, 9.99999867e-01],
       [9.99984491e-01, 1.55085410e-05],
       [9.99974565e-01, 2.54347140e-05],
       [2.96685366e-08, 9.99999970e-01],
       [3.40207267e-01, 6.59792733e-01],
       [1.25459691e-05, 9.99987454e-01],
       [9.99901839e-01, 9.81605132e-05],
       [9.90220192e-01, 9.77980807e-03],
       [1.06242889e-17, 1.00000000e+00],
       [9.99991123e-01, 8.87689042e-06],
       [9.99996496e-01, 3.50371953e-06],
       [9.99999994e-01, 6.20820759e-09],
       [5.80815640e-01, 4.19184360e-01],
       [1.00000000e+00, 1.44475851e-10],
       [9.99990550e-01, 9.45040979e-06],
       [9.99996374e-01, 3.62572475e-06],
       [9.99971743e-01, 2.82570812e-05],
       [9.99994092e-01, 5.90782438e-06],
       [9.99999665e-01, 3.35369056e-07],
       [6.39816526e-04, 9.99360183e-01],
       [9.99999983e-01, 1.68157612e-08],
       [9.91707779e-01, 8.29222137e-03],
       [9.99994689e-01, 5.31112190e-06],
       [9.99942475e-01, 5.75254123e-05],
       [9.99878798e-01, 1.21201979e-04],
       [9.99999996e-01, 3.52803390e-09],
       [4.24004345e-04, 9.99575996e-01],
       [9.99661910e-01, 3.38090070e-04],
       [9.99999993e-01, 6.80818240e-09],
       [9.47711421e-01, 5.22885791e-02],
       [9.99999161e-01, 8.39059077e-07],
       [9.99999998e-01, 1.71932038e-09],
       [1.95106794e-02, 9.80489321e-01],
       [9.99129479e-01, 8.70520759e-04],
       [2.30990134e-02, 9.76900987e-01],
       [9.38450104e-05, 9.99906155e-01],
       [5.53617853e-01, 4.46382147e-01],
       [9.99990570e-01, 9.42996152e-06],
       [9.99999990e-01, 9.75683376e-09],
       [9.99997223e-01, 2.77709774e-06],
       [9.99994802e-01, 5.19758383e-06],
       [7.17522419e-07, 9.99999282e-01],
       [9.93367848e-01, 6.63215216e-03],
       [9.99996496e-01, 3.50371953e-06],
       [9.99749751e-01, 2.50248661e-04],
       [2.14488799e-01, 7.85511201e-01],
       [4.76968363e-18, 1.00000000e+00],
       [9.99987533e-01, 1.24672131e-05],
       [9.99996268e-01, 3.73160238e-06],
       [1.68556670e-03, 9.98314433e-01],
       [6.53926054e-20, 1.00000000e+00],
       [2.22606493e-10, 1.00000000e+00],
       [2.66018465e-07, 9.99999734e-01],
       [5.44424475e-01, 4.55575525e-01],
       [9.99896930e-01, 1.03069806e-04],
       [9.99998312e-01, 1.68803369e-06],
       [1.37111113e-20, 1.00000000e+00],
       [2.58391642e-03, 9.97416084e-01],
       [2.50173980e-01, 7.49826020e-01],
       [2.72722973e-06, 9.99997273e-01],
       [9.97586828e-01, 2.41317151e-03],
       [9.99870447e-01, 1.29553412e-04],
       [3.02237318e-01, 6.97762682e-01],
       [9.99990550e-01, 9.45040979e-06],
       [9.99669241e-01, 3.30759156e-04],
       [4.21011412e-01, 5.78988588e-01],
       [5.95398352e-09, 9.99999994e-01],
       [3.78293408e-05, 9.99962171e-01],
       [5.47467748e-05, 9.99945253e-01],
       [9.99996011e-01, 3.98876108e-06],
       [9.99929586e-01, 7.04142213e-05],
       [9.99996268e-01, 3.73160238e-06],
       [9.99996268e-01, 3.73160238e-06],
       [9.99950926e-01, 4.90744773e-05],
       [9.97667345e-01, 2.33265457e-03],
       [9.99795588e-01, 2.04412301e-04],
       [7.85574434e-01, 2.14425566e-01],
       [9.93631330e-01, 6.36867031e-03],
       [9.99999980e-01, 2.03811427e-08],
       [9.99997536e-01, 2.46380069e-06],
       [9.99996268e-01, 3.73160238e-06],
       [9.99529688e-01, 4.70312020e-04],
       [2.89948551e-03, 9.97100514e-01],
       [9.97667345e-01, 2.33265457e-03],
       [9.99996011e-01, 3.98876108e-06],
       [9.99909298e-01, 9.07018733e-05],
       [9.72703983e-01, 2.72960171e-02],
       [9.99800099e-01, 1.99900510e-04],
       [9.99243850e-01, 7.56149540e-04],
       [9.99949889e-01, 5.01106640e-05],
       [9.99999830e-01, 1.69664986e-07],
       [9.99999693e-01, 3.07103288e-07],
       [1.76714003e-08, 9.99999982e-01],
       [9.99305050e-01, 6.94950120e-04],
       [9.99999534e-01, 4.65513641e-07],
       [5.04265161e-37, 1.00000000e+00],
       [9.99997177e-01, 2.82280881e-06],
       [2.02289523e-04, 9.99797710e-01],
       [6.36674703e-05, 9.99936333e-01],
       [1.62812317e-25, 1.00000000e+00],
       [9.57121714e-01, 4.28782858e-02],
       [9.99958716e-01, 4.12838825e-05],
       [9.99982390e-01, 1.76095434e-05],
       [5.95398352e-09, 9.99999994e-01],
       [9.57415263e-01, 4.25847372e-02],
       [5.67990355e-42, 1.00000000e+00],
       [9.99999950e-01, 5.03400763e-08],
       [9.99999764e-01, 2.35696911e-07],
       [1.08541033e-09, 9.99999999e-01],
       [2.37133553e-10, 1.00000000e+00],
       [3.66696964e-01, 6.33303036e-01],
       [1.31612720e-21, 1.00000000e+00],
       [9.99999204e-01, 7.96377243e-07],
       [9.99998681e-01, 1.31866661e-06],
       [9.99887106e-01, 1.12893817e-04],
       [9.99996496e-01, 3.50371953e-06],
       [9.03236755e-05, 9.99909676e-01],
       [9.99996011e-01, 3.98876108e-06],
       [6.69970447e-07, 9.99999330e-01],
       [9.99855912e-01, 1.44088113e-04],
       [9.99999693e-01, 3.07406233e-07],
       [1.89309507e-07, 9.99999811e-01],
       [7.24328432e-01, 2.75671568e-01],
       [1.46783992e-04, 9.99853216e-01],
       [9.99997901e-01, 2.09873729e-06],
       [3.95016996e-04, 9.99604983e-01],
       [9.99999998e-01, 2.48227559e-09],
       [1.41692334e-06, 9.99998583e-01],
       [9.99473217e-01, 5.26783094e-04],
       [9.88811086e-01, 1.11889138e-02],
       [9.99958971e-01, 4.10290944e-05],
       [9.99983908e-01, 1.60916937e-05],
       [9.99990550e-01, 9.45040979e-06],
       [9.99999937e-01, 6.27266154e-08],
       [9.99999944e-01, 5.63920070e-08],
       [9.99133907e-01, 8.66092908e-04],
       [9.97171380e-01, 2.82862047e-03],
       [9.99980473e-01, 1.95269948e-05],
       [9.95396466e-01, 4.60353379e-03],
       [9.99935218e-01, 6.47817933e-05],
       [9.99900199e-01, 9.98008153e-05],
       [9.99958156e-01, 4.18437173e-05],
       [8.84843168e-04, 9.99115157e-01],
       [6.84558250e-05, 9.99931544e-01],
       [9.99999996e-01, 3.95024065e-09],
       [9.99978761e-01, 2.12385661e-05],
       [9.68798737e-04, 9.99031201e-01],
       [9.99999784e-01, 2.16154748e-07],
       [9.99951771e-01, 4.82290047e-05],
       [9.99696892e-01, 3.03107567e-04],
       [9.99999773e-01, 2.26757275e-07],
       [9.46624889e-01, 5.33751115e-02],
       [1.49161089e-11, 1.00000000e+00],
       [9.93625087e-01, 6.37491271e-03],
       [9.99999534e-01, 4.65513641e-07],
       [6.68887186e-36, 1.00000000e+00],
       [9.99651207e-01, 3.48792885e-04],
       [9.99497293e-01, 5.02706820e-04],
       [9.99167781e-01, 8.32219375e-04],
       [9.99944109e-01, 5.58910491e-05],
       [9.99999944e-01, 5.63920070e-08],
       [9.99996496e-01, 3.50371953e-06],
       [9.99693107e-01, 3.06892879e-04],
       [3.33816403e-05, 9.99966618e-01],
       [1.50179943e-11, 1.00000000e+00],
       [6.59844797e-01, 3.40155203e-01],
       [9.98144467e-01, 1.85553334e-03],
       [9.99999429e-01, 5.70680133e-07],
       [5.30257440e-11, 1.00000000e+00],
       [9.43729684e-04, 9.99056270e-01],
       [9.99776738e-01, 2.23262499e-04],
       [9.99910582e-01, 8.94182551e-05],
       [5.07245589e-14, 1.00000000e+00],
       [9.91188485e-01, 8.81151547e-03],
       [2.51377241e-09, 9.99999997e-01],
       [9.65968303e-01, 3.40316974e-02],
       [9.99990550e-01, 9.45040979e-06],
       [9.99705848e-01, 2.94152258e-04],
       [2.57402312e-12, 1.00000000e+00],
       [7.69688934e-03, 9.92303111e-01],
       [4.65942169e-07, 9.99999534e-01],
       [9.99917803e-01, 8.21967897e-05],
       [9.98689952e-01, 1.31004843e-03],
       [1.00000000e+00, 3.42787873e-11],
       [9.45560441e-14, 1.00000000e+00],
       [9.99999761e-01, 2.39281070e-07],
       [9.99908313e-01, 9.16871002e-05],
       [9.99127918e-01, 8.72082356e-04],
       [9.99809109e-01, 1.90891487e-04],
       [9.99997202e-01, 2.79754700e-06],
       [1.97322586e-20, 1.00000000e+00],
       [1.43660196e-03, 9.98563398e-01],
       [9.99819373e-01, 1.80627396e-04],
       [8.68106488e-01, 1.31893512e-01],
       [9.99992144e-01, 7.85614693e-06],
       [1.77895612e-01, 8.22104388e-01],
       [9.92643289e-01, 7.35671079e-03],
       [1.51312448e-03, 9.98486876e-01],
       [2.02289523e-04, 9.99797710e-01],
       [9.99997208e-01, 2.79247355e-06],
       [9.77079123e-01, 2.29208766e-02],
       [9.94239380e-01, 5.76062014e-03],
       [9.99999993e-01, 7.12446352e-09],
       [9.99999708e-01, 2.91524618e-07],
       [9.99989702e-01, 1.02978860e-05],
       [9.99696892e-01, 3.03107567e-04],
       [9.99559717e-01, 4.40283263e-04],
       [9.99989671e-01, 1.03288349e-05]])

In [ ]:
#Calculate the score using cross validation

In [22]:
from sklearn.model_selection import cross_val_score
cross=cross_val_score(GaussianNB(),X_train, y_train, cv=5)

In [23]:
cross.mean()

0.7542451612903227

In [24]:
from sklearn.model_selection import cross_val_score
cross=cross_val_score(MultinomialNB(),X_train, y_train, cv=5)

In [25]:
cross.mean()

0.6966967741935484

# ADS prediction

In [26]:
dataset = pd.read_csv('user_data.csv') 
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [27]:
x = dataset.iloc[:, [2, 3]].values  
y = dataset.iloc[:, 4].values

In [28]:
# Splitting the dataset into the Training set and Test set  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [29]:
# Feature Scaling  
from sklearn.preprocessing import StandardScaler  
sc = StandardScaler()  
x_train = sc.fit_transform(x_train)  
x_test = sc.transform(x_test)

In [30]:
# Fitting Naive Bayes to the Training set  
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(x_train, y_train)

GaussianNB()

In [31]:
y_pred = classifier.predict(x_test)

In [32]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1], dtype=int64)

In [33]:
y_pred1 = classifier.predict([[ 0.38358493,  0.99784738]])   # array[1] means Buy the car 
y_pred1

array([1], dtype=int64)

In [34]:
# Making the Confusion Matrix  
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test, y_pred)

In [35]:
cm

array([[65,  3],
       [ 7, 25]], dtype=int64)

In [36]:
65+25   #90 percentage ic correct model

90

In [37]:
7+3   # 10 percentage is incorrect model/

10

In [38]:
classifier.score(x_test,y_test)

0.9

In [39]:
from sklearn.metrics import accuracy_score

In [40]:
accu=accuracy_score(y_test,y_pred)
accu

0.9